[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/cpu_features"]
	path = thirdparty/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "thirdparty/any"]
	path = thirdparty/any
	url = https://github.com/boostorg/any.git
[submodule "thirdparty/easyloggingpp"]
	path = thirdparty/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
