name: Unit Test

# This workflow is triggered on pushes or pull request to the repository.
on:
  push:
    branches:
      - main
  pull_request:
    # File paths to consider in the event. Optional; defaults to all.
    paths:
      - 'include/**'
      - 'python/**'
      - 'src/**'
      - 'thirdparty/**'
      - 'benchmark/**'
      - 'cmake/**'
      - '.github/workflows/ut.yaml'
      - 'CMakeLists.txt'
      - '!**.md'

jobs:
  ut:
    name: ut on ubuntu-20.04
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    strategy:
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install Dependency
        run: |
          sudo apt update && sudo apt install -y cmake g++ gcc libopenblas-dev libcurl4-openssl-dev libaio-dev python3 python3-pip && pip3 install conan==1.58.0
      - name: Build & Run
        run: |
          mkdir build && cd build && conan install .. --build=missing -s build_type=Debug -o with_ut=True -o with_diskann=True -o with_asan=True && conan build .. \
          && ./Debug/tests/ut/knowhere_tests

  swig-build:
    name: python3 wheel
    runs-on: ubuntu-20.04
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Install Dependency
        run: |
          sudo apt update && sudo apt install -y cmake g++ gcc libopenblas-dev libaio-dev libcurl4-openssl-dev python3 python3-pip python3-setuptools && pip3 install conan==1.58.0
      - name: Build
        run: |
          mkdir build && cd build && conan install .. --build=missing -o with_diskann=True && conan build ..
      - name: Swig Build
        run: |
          cd python && python3 setup.py bdist_wheel
